# Ignore file for Visual Studio 2008

# Ignore Visual Studio 2008 files
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.ReSharper*
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
[Aa]pp_[Dd]ata/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
glob:*.orig
*.log
bundler/
packages/
bundler/
*.DotSettings
business-migrations/201406_SXPSiteExtractLoader/SiteExtractLoader.sln

Basics/Payroll/Payroll/Apps/*/build/main-build.js
Basics/Payroll/Payroll/Apps/*/build/main.js
Basics/Payroll/Payroll/sdk_xbrl_api_home/instances/
Basics/Payroll/Payroll/sdk_xbrl_api_home/keystores/Preferences.xml
Basics/Payroll/.idea/vcs.xml
Basics/Payroll/.idea/workspace.xml
*.ttf-*
*.dll-*
Basics/Payroll/.idea.AppHarbor/.idea/workspace.xml
user.config

# Ignore Tab Studio files
*.tss

# Ignore VS Performance Profiler files
*.psess
*.vspx
Basics\Payroll\Payroll\Content\scss\*.css
Basics\Payroll\Payroll\Content\scss\*.min.css
Basics\Payroll\Payroll\Content\scss\*.css.map
Basics\Payroll\Payroll\Content\DataTables-1.10.2\extensions\Responsive\css\dataTables.responsive.css.map
Basics\Payroll\Payroll\Content\DataTables-1.10.2\extensions\Responsive\css\dataTables.responsive.min.css
Basics\Payroll\Payroll\Content\rostering\*.css.map
Basics\Payroll\Payroll\Content\rostering\*.min.css
Basics/Payroll/.vs/AppHarbor
.idea/
.appharbor

.serverless/
tools/**/jsconfig.json
tools/EnvironmentManagment/.webpack/
Basics/AwsPdfConverter/.webpack/
node_modules/

# Ignore generated TS models
Basics/Payroll/Payroll/Scripts/models

# Ignore webpack bundle output
Basics/Payroll/Payroll/Scripts/bundle/
Basics/Payroll/Payroll/Scripts/bundle_es5compatibility/
Basics/Payroll/Payroll/Scripts/bundle_test/

lib/node
Basics/Payroll/.vs/AppHarbor/v15/sqlite3/storage.ide
Basics\Payroll\Payroll\.skipWebpack
Basics\Payroll\Payroll\.skipTslint
Basics\Payroll\Payroll\.suppressWebpackNotifications
Basics/ThirdParty/Ato.PayEvent.RuleImplementation/.vs/
**/SourceMaps/
.vs/
Basics/Payroll/AppHarbor.favdoc
Basics/STPService/STPService/audit/
Basics/STPService/STPService/data/

*.connectionstrings.config
Basics/Payroll/Payroll/.skipwebpack
package-lock.json

# Ignore cypress.io components
Basics/**/Cypress/videos/
Basics/**/Cypress/screenshots/
Basics/**/Payroll.Tests.Web/dist/
Basics/**/Cypress/results/


tools/MigrationTool.PaySuite/MigrationTool.PaySuite/keypay.json
Basics/Payroll/Payroll.Tests.Web/cypress.env.json
*.connectionStrings.config
*.orig
Basics/Payroll/Payroll.Tests.Web/yarn cypress.ps1
Basics/Payroll/Payroll/Content/scss/*.map
Basics/Payroll/Payroll/Content/scss/*.css

Basics/Payroll/Payroll.Tests.Web/cypress.uk.json
/Basics/Payroll/Payroll.Tests.Web/run_tests_one_environment.ps1
appsettings.Development.json